.profile-section {
  justify-items: center;
  margin: 2rem 0 2rem;
  padding: 1rem;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ccc;
  justify-items: center;
  margin-bottom: 1rem;
}

.profile-info h2 {
  margin: 0;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.profile-info p {
  margin: 0;
  color: #666;
}

.menu-list {
  border-radius: 10px;
  margin-bottom: 2rem;
  justify-items: center;
}

.menu-list hr {
  width: 70%;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.menu-item:hover {
  font-weight: bolder;
}

.logout-button {
  width: 100%;
  padding: 0.8rem;
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.logout-button:hover {
  background-color: #4a4a4a;
}

@media (max-width: 768px) {
  .mypage-container {
    width: 100%;
  }
}