.registered-item-container {
    padding: 2rem;
}

.register-button-wrapper {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    padding: 10px;
  }

.register-item-button {
    width: 100px;
    height: 40px;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}