.rental-history-view h2 {
    text-align: center;
    font-weight: 350;
    line-height: 1.4;
    margin: 20px;
    font-size: 25px;
  }
  
  .rental-history-view h2 span {
    font-weight: bold;
  }
  